@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');



@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #3E1E68;
    overflow: hidden;
}

.background span {
    width: 80vmin;
    height: 80vmin;
    border-radius: 50vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #f59105;
    top: 34%;
    left: 76%;
    animation-duration: 10s;
    animation-delay: -49s;
    transform-origin: 20vw 23vh;
    box-shadow: -100vmin 0 13.28719375746569vmin currentColor;
}
.background span:nth-child(1) {
    color: #583C87;
    top: 48%;
    left: 80%;
    animation-duration: 45s;
    animation-delay: -23s;
    transform-origin: -5vw -11vh;
    box-shadow: 100vmin 0 13.139287414641966vmin currentColor;
}
.background span:nth-child(2) {
    color: #f59105;
    top: 71%;
    left: 56%;
    animation-duration: 42s;
    animation-delay: -31s;
    transform-origin: -4vw -24vh;
    box-shadow: 100vmin 0 13.153487420059145vmin currentColor;
}
.background span:nth-child(3) {
    color: #f59105;
    top: 11%;
    left: 95%;
    animation-duration: 6s;
    animation-delay: -18s;
    transform-origin: 23vw -12vh;
    box-shadow: -100vmin 0 12.642930020496244vmin currentColor;
}
.background span:nth-child(4) {
    color: #f59105;
    top: 15%;
    left: 1%;
    animation-duration: 38s;
    animation-delay: -34s;
    transform-origin: -5vw -19vh;
    box-shadow: 100vmin 0 12.79121687544062vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 24%;
    left: 64%;
    animation-duration: 22s;
    animation-delay: -20s;
    transform-origin: 9vw -23vh;
    box-shadow: 100vmin 0 12.903741452523073vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 100%;
    left: 84%;
    animation-duration: 52s;
    animation-delay: -49s;
    transform-origin: 17vw 25vh;
    box-shadow: -100vmin 0 13.445104700228995vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 34%;
    left: 86%;
    animation-duration: 48s;
    animation-delay: -39s;
    transform-origin: -7vw -22vh;
    box-shadow: -100vmin 0 13.382988179959208vmin currentColor;
}
.background span:nth-child(8) {
    color: #f59105;
    top: 88%;
    left: 49%;
    animation-duration: 25s;
    animation-delay: -2s;
    transform-origin: -5vw -4vh;
    box-shadow: -100vmin 0 13.479238863981971vmin currentColor;
}
.background span:nth-child(9) {
    color: #f59105;
    top: 22%;
    left: 37%;
    animation-duration: 55s;
    animation-delay: -24s;
    transform-origin: 21vw 1vh;
    box-shadow: -100vmin 0 12.58669834736148vmin currentColor;
}
.background span:nth-child(10) {
    color: #f59105;
    top: 32%;
    left: 36%;
    animation-duration: 51s;
    animation-delay: -24s;
    transform-origin: -1vw -10vh;
    box-shadow: -100vmin 0 12.773310358383611vmin currentColor;
}
.background span:nth-child(11) {
    color: #583C87;
    top: 60%;
    left: 27%;
    animation-duration: 24s;
    animation-delay: -29s;
    transform-origin: -20vw 5vh;
    box-shadow: -100vmin 0 12.580319950713493vmin currentColor;
}
.background span:nth-child(12) {
    color: #f59105;
    top: 76%;
    left: 17%;
    animation-duration: 17s;
    animation-delay: -42s;
    transform-origin: -7vw -23vh;
    box-shadow: 100vmin 0 13.048494318290098vmin currentColor;
}
.background span:nth-child(13) {
    color: #583C87;
    top: 66%;
    left: 42%;
    animation-duration: 22s;
    animation-delay: -2s;
    transform-origin: -17vw 1vh;
    box-shadow: 100vmin 0 12.566365086423847vmin currentColor;
}


.three-box {
    flex: 1;
    width: 70%; /* or any size like 60% */
    height: 100%;
    display: block;
    background-color: transparent;
    display: block;
    position: relative;
}

#three-canvas {
  width: 100%;
  height: 100%;
  display: block;
}


.title-card {
    position: fixed;
    bottom: 20px;
    right: 100px;
    width: 720px;
    height: 370px;
    overflow: hidden;
    z-index: 100; /* make sure it's above other elements */
}

.ite {
    position: absolute;
    width: 300px;
    height: 320px;
    text-align: justify;
    background-color: #4E75C5;
    opacity: 0.5;
    border-radius: 10px;
    padding: 20px;
    transition: 0.8s;
    left: calc(50% - 110px);
    top: 0 ;
    opacity: 0;
}


.banner {
  width: 1000px;  
  height: 80vh; 
  position: fixed; 
  right: 0; 
  overflow: hidden;
  text-align: center;
  z-index: 10; 
}


.banner .slider{
    position: absolute;
    width: 300px;
    height: 350px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(500px);
    animation: autoRun 30s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(500px) rotateX(-8deg) rotateY(0deg);
    }to{
        transform: perspective(500px) rotateX(-8deg) rotateY(360deg);
    }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(150px);
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}




@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    
    
}
@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
}


